<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>My Curriculum Vitae</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/blogger-sans-light-otf" type="text/css" />
  <link href="public/css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <div class="header" id="header">
    <div class="carte">
      <h2>
        Michael Le Thiec
      </h2>
      <p>
        30 rue principale
      </p>
      <p>
        02320 ALLEMANT
      </p>
    </div>
    <img class="photoCV img-fluid float-right" id="maPhoto" src="public/img/brad.jpeg" alt="bo'goss" />

  </div>
  
  <div class="principale" id="principale">
    <div class="container-fluid">
      <div class="row my-5">
        <div class="titre titreExperience col-lg-auto h2 mx-5">Expérience professionnelle
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="experience col-lg-3 mb-2 justify-content-left h4" id="exp1">Armée de terre, régiment parachutiste
          <div class="text-right h6"> Du 20/12/2018 au 15/09/2019</div>
          <div class="border-top small" style="border-top : 2px solid grey;">
            <ul>
              <li>test1
              </li>

              <li>test2
              </li>
            </ul>
          </div>
        </div>
        <div class="experience col-lg-3 mb-2 justify-content-left h4" id="exp2">Armée de terre, régiment parachutiste
          <div class="text-right h6"> Du 20/12/2018 au 15/09/2019</div>
          <div class="border-top small" style="border-top : 2px solid grey;">
            <ul>
              <li>test1
              </li>

              <li>test2
              </li>
            </ul>
          </div>
        </div>
        <div class="experience col-lg-3 mb-2 justify-content-left h4" id="exp3">Armée de terre, régiment parachutiste
          <div class="text-right h6"> Du 20/12/2018 au 15/09/2019</div>
          <div class="border-top small" style="border-top : 2px solid grey;">
            <ul>
              <li>test1
              </li>

              <li>test2
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="experience col-lg-3 mb-2 justify-content-left h4" id="exp4">Armée de terre, régiment parachutiste
          <div class="text-right h6"> Du 20/12/2018 au 15/09/2019</div>
          <div class="border-top small" style="border-top : 2px solid grey;">
            <ul>
              <li>test1
              </li>

              <li>test2
              </li>
            </ul>
          </div>
        </div>
        <div class="experience col-lg-3 mb-2 justify-content-left h4" id="exp5">Armée de terre, régiment parachutiste
          <div class="text-right h6"> Du 20/12/2018 au 15/09/2019</div>
          <div class="border-top small" style="border-top : 2px solid grey;">
            <ul>
              <li>test1
              </li>

              <li>test2
              </li>
            </ul>
          </div>
        </div>
        <div class="experience col-lg-3 mb-2 justify-content-left h4" id="exp6">Armée de terre, régiment parachutiste
          <div class="text-right h6"> Du 20/12/2018 au 15/09/2019</div>
          <div class="border-top small" style="border-top : 2px solid grey;">
            <ul>
              <li>test1
              </li>

              <li>test2
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="titre titreScolaire col-lg-auto h2 mx-5 my-5">Parcours scolaire
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="scolaire col-lg-3 mb-0 justify-content-left h4">Armée de terre, régiment parachutiste
          <div class="text-right h6"> Du 20/12/2018 au 15/09/2019</div>
          <div class="border-top small" style="border-top : 2px solid grey;">
            <ul>
              <li>test1
              </li>

              <li>test2
              </li>
            </ul>
          </div>
        </div>
        <div class="scolaire col-lg-3 mb-0 justify-content-left h4">Armée de terre, régiment parachutiste
          <div class="text-right h6"> Du 20/12/2018 au 15/09/2019</div>
          <div class="border-top small" style="border-top : 2px solid grey;">
            <ul>
              <li>test1
              </li>

              <li>test2
              </li>
            </ul>
          </div>
        </div>
        <div class="scolaire col-lg-3 mb-0 justify-content-left h4">Armée de terre, régiment parachutiste
          <div class="text-right h6"> Du 20/12/2018 au 15/09/2019</div>
          <div class="border-top small" style="border-top : 2px solid grey;">
            <ul>
              <li>test1
              </li>

              <li>test2
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="nav" id="navLeft">
    
          <div id="windowChat">
            <div id="chat">
            </div>
            <form action="/" method="post" id="formulaire_chat">
              <input type="text" name="message" id="message" placeholder="Votre message..." />
              <input type="submit" id="envoi_message" value="Envoyer" class="btn btn-outline-light" />
            </form>
          </div>
          <div>
        
          <p>Candidat en live !</p>
          <div id="windowTDL">
          </div>
          <form action="/" method="post" id="formulaire_tdl">
            <p>
              <label for="newtodo">Que dois-je faire ?</label>
              <input type="text" name="newtodo" id="newtodo" />
              <input type="submit" />
            </p>
          </form>
          </div>
  </nav>
  <div id ="preload" >
      <img src="public/img/vitreH.png">
      <img src="public/img/vitreV.png">
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="public/bootstrap/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="public/js/cv.js"></script>
  <script>
    
    $( document ).ready( function() {
      document.getElementById('preload').style.display = "none";
      canvasFgd('chat', 'public/img/vitreV.png', 2, 'fixed');
      canvasFgd('maPhoto', 'public/img/vitreV.png', 2, 'fixed');
    });

    var myClient = { 'pseudo': '', 'id': 0 };
    var todoList = new Array;
    if (typeof (socket) == 'undefined') {
      var socket = io.connect('http://192.168.1.43:8080');
    }
    $('#formulaire_chat').submit(function () {
      var message = $('#message').val();
      socket.emit('message', message, myClient);
      insereMessage(message);
      $('#message').val('').focus();
      return false;
    });
    $('#formulaire_tdl').submit(function () {
      var newtodo = $('#newtodo').val();
      socket.emit('newtodo', newtodo);
      $('#newtodo').val('').focus();
      affichList();
      return false;
    });
    socket.emit('connexionChat');
    socket.on('identification', function (dataClient, dataTDL) {
      myClient = dataClient;
      todoList = dataTDL;
      affichList();
    })
    socket.on('entree', function (data) {
      $('#chat').prepend("<p class=\"message.entree\">" + data.pseudo + " vient de se connecté.</p>");
    })
    socket.on('messageEmi', function (message, data) {
      $('#chat').prepend("<p class=\"message.recu\"><strong>" + data.pseudo + "</strong> : " + message + "</p>");
    })
    socket.on('updateList', function (data) {
      todoList = data;
      affichList();
    })

    function affichList() {
      document.getElementById('windowTDL').innerHTML = '';
      $('#windowTDL').append('<ul>');
      todoList.forEach(function (element, index, array) {
        $('#windowTDL').append('<li><button name="sup" onclick="sup(' + index + ')">✘</button>' + element + '</li>');
      });
      $('#windowTDL').append('</ul>');
    }
    function sup(index) {
      socket.emit('suptodo', index);
    }
    function insereMessage(message, data) {
      $('#chat').prepend('<p class=\"message.pseudo\"><u>' + myClient.pseudo + '</u> :</p><p class=\"message.emi\"> ' + message + '</p>');
    }
  </script>
</body>

</html>