<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link href="public/css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div id="windowLogin">
        <form action="/cv" method="post" id="pseudoId">
            <p>
                <label for="demandePseudo">Quel est ton pseudo ?</label>
                <input type="text" name="pseudo" id="pseudo" autofocus />
                <input type="submit" />
            </p>
        </form>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
       if (typeof(socket) == 'undefined'){
           var socket = io.connect('http://192.168.1.43:8080');

        }
        $('#pseudoId').submit(function () {
                var pseudo = $('#pseudo').val();
                var client = {'pseudo' : pseudo , 'id' : 0}
                console.log('pseudo '+ pseudo);
                socket.emit('nouveau_client', client);
        });

    </script>
</body>

</html>
